.navbarClose {
  display: none;
}

.navbar {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  background: var(--color-bg);
  box-shadow: 0 0 1rem var(--color-alert);
  height: 100vh;
  padding: 2rem 3rem;
}

.navbarIconClose {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-block: 2rem;
  font-size: 2rem;
  color: var(--color-secondary);
  text-shadow:
    0 0 5px var(--color-secondary),
    0 0 10px var(--color-secondary),
    0 0 20px var(--color-primary),
    0 0 40px var(--color-primary),
    0 0 80px var(--color-secondary);

}

.navbarList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.8rem;
}

.navbarList a {
  text-decoration: none;
  color: var(--color-primary);
  text-shadow:
    0 0 5px var(--color-primary),
    0 0 10px var(--color-primary);
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.navbar .btnHighlight {
  margin-block-start: 3rem;
  width: 100%;
  padding: .2rem;
  font-size: 1.5rem;
  border-radius: .5rem;
  background-color: var(--color-accent);
  color: var(--color-text);
  font-weight: bold;
  box-shadow: 0 0 5px var(--color-secondary), 0 0 10px var(--color-primary);
}

@media(min-width: 768px) {
  .navbarIconOpen {
    display: none;
  }

  .navbarIconClose {
    display: none;
  }

  .navbarClose {
    display: block;
  }

  .navbar {
    position: initial;
    background: none;
    box-shadow: none;
    height: auto;
    padding: 0;
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
    align-items: center;
  }

  .navbarList {
    flex-direction: row;
    gap: 2rem;
    font-size: 1.8rem;
  }

  .navbar a:hover {
    cursor: pointer;
    transition: all 500ms ease-in-out;
    color: var(--color-secondary);
    text-shadow:
      0 0 5px var(--color-secondary),
      0 0 10px var(--color-secondary);
  }


  .navbar .btnHighlight {
    margin-block-start: 0;
    width: fit-content;
    padding: .5rem 1rem;
  }

  .navbar .btnHighlight:hover {
    cursor: pointer;
    transition: all 500ms ease-in-out;
    background-color: var(--color-secondary);
    color: #000;
    box-shadow: 0 0 10px var(--color-secondary), 0 0 20px #f0f, 0 0 30px var(--color-primary);

  }
}