@import "tailwindcss";

@theme {
  /* Fondo oscuro */
  --color-base-bg: #0D0D0D;
  /* Texto base */
  --color-base-text: #E0E0E0;
  /* Magenta neón */
  --color-primary: #FF00FF;
  /* Cyan eléctrico */
  --color-secondary: #00FFFF;
  /* Amarillo neón */
  --color-accent: #FFEA00;
  /* Rojo neón */
  --color-alert: #FF3131;
  /* Font Family Monserrat */
  --font-monserrat: "Montserrat", sans-serif;
}